<div class="git-wiki-tools">
    {% if site.use_github_wiki %}
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/_wiki/_new">Add new</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/_wiki/{{url | remove: '.html' | append: ''}}/_edit">Edit</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/_wiki/{{url | remove: '.html' | append: ''}}/_history">History</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/_wiki/{{url | remove: '.html' | append: '.md'}}/">Source</a></span>
    {% else %}
    {% comment %}
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/new/{{site.git_branch}}?filename={{ site.wiki_folder | default: '_wiki' }}/">Add new</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/edit/{{site.git_branch}}/{{page.path}}">Edit</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/delete/{{site.git_branch}}/{{page.path}}">Delete</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/commits/{{site.git_branch}}/{{page.path}}">History</a></span>
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/blob/{{site.git_branch}}/{{page.path}}">Source</a></span>
    {% endcomment %}
    {% if site.blog_feature %}
    <span class="tools-element"><a target="_blank" href="{{ site.github.repository_url }}/new/{{site.git_branch}}?filename=_posts/">Add new post</a></span>
    {% endif %}
    {% if site.use_prose_io %}
    {% assign arrpath = page.path | split: "/" %}
    {% for dir in arrpath %}
    {% unless dir == arrpath.last %}
    {% capture pagedir %}{{ pagedir }}/{{dir}}{% endcapture %}
    {% endunless %}
    {% endfor %}
    <span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch}}/{{ pagedir | remove_first: '/' | append: '/CHANGEME.md' }}">Add new</a></span>
    {%unless page.noedit == true %}<span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/edit/{{site.git_branch}}/{{page.path}}">Edit</a></span>{% endunless %}
    {% if site.blog_feature %}
    <span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch}}/_posts/">Add new post</a></span>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
