{% if page.infobox == true or page.image.size > 0 %}
<div class="infobox">
  {% if page.title.size > 0 %}
  <div class="ib-header">
    <div class="ib-title">
      {% if page.ititle.size > 0 %}
      {{ page.ititle }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </div>
    {% if page.subtitle.size > 0 %}<div class="ib-subtitle">{{ page.subtitle |markdownify }}</div>{% endif %}
  </div>
  {% endif %}
  <div class="ib-content">
    {% if page.image.size > 0 %}
    <div class="ib-image">
      <img src="{{ page.image }}" alt="{{ page.caption }}">
      {% if page.caption.size > 0 %}<div class="ib-caption">{{ page.caption | markdownify }}</div>{% endif %}
    </div>
    {% endif %}
    {% if page.list.size > 0 %}
    <div class="ib-list">
      {{ page.list | markdownify }}
    </div>
    {% endif %}
  </div>
  {% if page.info.size > 0 %}
  <table class="ib-table"><tbody>
    {% for item in page.info %}
    <tr>
      <th scope="row">{{ item[0] }}</th>
      <td>
        <ul>
          {% for bullet in item[1] %}<li>{{ bullet | markdownify }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody></table>
  {% endif %}
</div>
{% endif %}