<div class="sidebar-nav">
  Menu
  <ul>
    <li><a href="https://shizuka.hokora.page/categories/#confursion"><span class="fas fa-book fa-fw"></span> Stories</a></li>
    <li><a href="/anthropic-shift"><span class="fas fa-paw fa-fw"></span> Anthropic Shift</a></li>
    <li><a href="/characters/"><span class="{{ site.data.icons.characters }} fa-fw"></span> Characters</a></li>
    <li><a href="/documents/"><span class="{{ site.data.icons.documents }} fa-fw"></span> Documents</a></li>
    <li><a href="/events/"><span class="{{ site.data.icons.events }} fa-fw"></span> Events</a></li>
    <li><a href="/locations/"><span class="{{ site.data.icons.locations }} fa-fw"></span> Locations</a></li>
  </ul>
</div>

<div class="actual-footer">from the mind of <a href="https://hokora.page">jessica hart</a></div>