/**
 * Confursion Wiki Styling
 */

.actual-footer {
  font-style: italic;
  font-size: 0.8em;

  a {
    font-style: normal;
    padding-left: 3px;
  }
}

.infobox {
  border: 1px solid #777777;
  border-spacing: 3px;
  border-radius: 4px;
  background-color: #ffffff;

  float: right;
  width: 22rem;
  margin: 0.5em 0 0.5em 1em;

  p {
    margin: 0;
    padding: 0;
  }

  .ib-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #777777;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 10px 15px;

    &.characters {
      background-color: #BBDEFB;
    }
    &.documents {
      background-color: #fcfcfc;
    }
    &.events {
      background-color: #FFE0B2;
    }
    &.locations {
      background-color: #DCEDC8;
    }

    .ib-icon {
      float: right;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .ib-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #222222;
  }

  .ib-subtitle {
    font-size: 0.9em;
  }

  .ib-content {
    padding: 10px;
  }

  .ib-image {
    text-align: center;
    padding-bottom: 10px;

    img {
      border-radius: 4px;
    }
  }

  .ib-caption {
    padding-top: 3px;
    font-style: italic;
  }

  table {
    font-size: 88%;
    line-height: 1.5em;
    margin: 0 0 10px 0;
    
    tr, th, td {
      vertical-align: top;
      border: none;
    }

    th {
      width: 8rem;
      padding: 0 5px 0px 10px;
      color: #222222;
    }
    td {
      padding: 0 0 5px 0;
    }

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 0 0 5px 0;
    }
  }

  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

.main-page-list {
  h3 {
    margin-bottom: 0.25em;
  }
}

.wiki-page-list {
  li {
    font-size: 1.5em;
  }
  p {
    font-style: italic;
  }
}

.event-timeline {
  ul {
    padding-left: 1rem;
    margin-bottom: 0;
  }
  
  li { //year
    font-size: 1.1rem;
    li { //month
      font-size: 1.1rem;
      li { //entry
        font-size: 1.25rem;
      }
    }
  }
}

#git-wiki-toc {
  ol {
    padding-inline-start: 2em;
  }
}

@media print, screen and (max-width: 720px) {
  .infobox {
    width: 100%;
  }
}
