/**
 * Confursion Wiki Styling
 */

.actual-footer {
  font-style: italic;
  font-size: 0.8em;

  a {
    font-style: normal;
    padding-left: 3px;
  }
}

.infobox {
  border: 1px solid #777777;
  border-spacing: 3px;
  border-radius: 4px;
  background-color: #ffffff;

  float: right;
  width: 22rem;
  margin: 0.5em 0 0.5em 1em;

  p {
    margin: 0;
    padding: 0;
  }

  .ib-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #777777;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 10px 15px;
  }

  .ib-title {
    font-weight: bold;
    font-size: 1.2em;
  }

  .ib-subtitle {
    font-size: 0.9em;
  }

  .ib-content {
    padding: 10px;
  }

  .ib-image {
    text-align: center;
    padding-bottom: 10px;

    img {
      border-radius: 4px;
    }
  }

  .ib-caption {
    padding-top: 3px;
    font-style: italic;
  }

  dl {
    margin: 0;
    dt {
      float: left;
      clear: left;
      font-weight: bold;
      padding: 5px 0;
      margin-right: 10px;
      width: 100px;
    }
    dd {
      margin: 2px 0;
      padding: 5px 0;
    }
  }
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

.main-page-list {
  h3 {
    margin-bottom: 0.25em;
  }
}

.wiki-page-list {
  li {
    font-size: 1.5em;
  }
  p {
    font-style: italic;
  }
}

.event-timeline {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    position: relative;
    overflow: hidden;

    .date {
      margin: 0;
      padding: 0;
      width: 85px;
      float: left;
      font-weight: bold;
      padding-top: 5px;
    }

    p:not(.date) {
      margin: 0;
      width: 75%;
      float: left;
      border-left: 3px solid #777777;
      padding-left: 20px;
      padding-bottom: 20px;
      font-size: 20px;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #000000;
        position: absolute;
        left: 81px;
        top: 10px;
        border-radius: 100%;
      }
    }

    &:first-child {
      .date {
        padding-top: 25px;
      }
      p:not(.date) {
        padding-top: 20px;

        &:before {
          top: 30px;
        }
      }
    }

    &:last-child {
      p:not(.date) {
        padding-bottom: 20px;
      }
    }
  }
}
